.main{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 8rem;
    padding-right: 8rem;
}

.heading{
    color: rgb(97, 113, 137);
    margin-bottom: 4rem;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 4rem;
}

.map{
    text-align: center;
    width: 60%;
    height: 550px;
    margin: auto;
    object-fit: cover; 
}

.map:hover{
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
}

img{
    width: 100%;
    height: 100%;
}

.map-head{
    color: rgb(255, 84, 16);
    font-weight: 600;
    margin-top: 2rem;
}